@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
*{margin: 0px; padding: 0px; box-sizing: border-box;font-family: 'Lato', sans-serif;}
body{
    position: relative;
    background-color: #03131E;
}
.block-imagem-bg{
    width: 100%;
    height: 100%;
    background: url(/public/image/connect-eart.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: .3;
    filter: blur(10px);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
// .snow-bg{
//     width: 100%;
//     height: 90vh;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     background: linear-gradient(to top, #03131E, #0090f750);
// }
:root{
    // COLORS
    --button-color:#0090F7;
    --color-text:#f5f5f5;
    // SIZES
    --font-size:1.4rem;
    --font-size-btn:1rem;
    --tamanho-title:1.4rem;
    --font-legend-text:1.3rem;
}
.blur-text{
    color: var(--color-text);
    background-color: #0a62a1;
    padding: 2px 5px;
    text-align: center;
    font-weight: bold;
}
.size-control{
    width: 100%;
    max-width: 1200px;
    // border: 1px solid #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-header{
    width: 100%;
    height: 90vh;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.content-block{
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    max-width: 500px;
    z-index: 9;
}
.content-image-logo{
    width: 70%;
    max-width: 500px;
}
.content-image-logo img{
    width: 100%;
    object-fit: cover;
}
.content-imagem{
    width: 70%;
    max-width: 500px;
    margin-bottom: 30px;
    position: relative;
}
.content-imagem::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ffffff2c;
    position: absolute;
    display: block;
    margin-top: 20px;
}
.content-imagem img{
    width: 100%;
    object-fit: cover;
}
.content-text{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0px 15px 0px;
}
.content-text p{
    width: 100%;
    max-width: 290px;
    color: var(--color-text);
    font-size: var(--font-legend-text);
}
.content-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.btn{
    width: 100%;
    max-width: 400px;
    text-align: center;
    text-decoration: none;
    font-family: Lato;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    background-color: #cc6715;
    padding: 15px 30px;
    box-shadow: 0px 0px 15px #df7a28;
    border-radius: 5px;
    transition : 1000ms;
    cursor: pointer;
    text-transform: uppercase;
    }
    
    .btn:hover{
    
    transition : .4s linear;
    background-color: #e77426;
    }

////////////////////////////////////////////////////

.block-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.content-main{
    width: 100%;
    max-width: 800px;
    z-index: 10;
}
.local-video{
    z-index: 10;
    margin-top: 20px;
    width: 100%;
    // background-color: #020a0f;
    position: relative;
}
.embed{
    position: relative;
    border-radius: 5px;
    // background-color: #111111;
    width: 100%;
    padding-bottom: 56.8%;
}
.embed iframe{
    position: absolute;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    border: none;
}
.content-main-text{
    color: var(--color-text);
    font-size: var(--font-size);
    text-align: center;
    margin: 10px 0px;
}
//////////////////////////////////////////
.block-main-bonus{
    width: 100%;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.block-bonus{
    max-width: 900px;
    // flex-wrap: wrap;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 0px;
    gap: 10px;
}
.setInd{
    max-width: 400px;
}
@media screen and (max-width:750px) {
    .block-bonus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.bonus-cx{
    z-index: 10;
    width: 100%;
    max-width: 500px;
    // height: 300px;
    padding: 1rem;
    // background:linear-gradient(to bottom, #ffffff07, #03131E);
    border: 1px solid #0090f715;
    border-radius: 5px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px #0090F7;
    text-align: center;
}
.bonus-cx h3{
    font-size: 1.4rem;
    margin: 20px 0px;
    font-weight: 500;
    color: #0090F7;
}
.bonus-cx p{
    font-size: 1.1rem;
}
.bonus-cx i{
    font-size: 3rem;
    font-weight: 100;
}
////////////////////
.block-mentor{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: rgba(41, 41, 41, 0.219);
    border-radius: 1rem;
}
.container-mentor{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    // height: 500px;
}
.container-image{
    width: 100%;
    height: 450px;
}
.container-image img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
.container-text{
    color: var(--color-text);
    margin: 20px 0px;
}

.depoiments{ //body
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.title{
    text-align: center;
    width: 100%;
    margin: 10px 0px 20px 0px;
    color: var(--color-text);
    font-size: var(--tamanho-title);
}
.capsule-couserl{ //carrossel
    overflow: hidden;
    height: 600px;
    box-shadow: 0px 0px 10px #0090F7;
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media screen {
    
}
.container-depoiments{ //container
    display: flex;
    // column-gap: 5px;
    transition: transform .5s ease-in-out;
    transform: translateX(0);
    width: 100%;
    height: 100%;
}
.depoiments img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-course{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.module-about{
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 10px;
    gap: 5px;
}
.box-about{
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    height: 400px;
    position: relative;
}
/* Estilo para a barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  height: 5px;
}

/* Estilo para o trilho (fundo) da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #03131E; /* Cor de fundo do trilho */
}

/* Estilo para o pega (o "botão" que você arrasta) */
::-webkit-scrollbar-thumb {
  background-color: #051a29; /* Cor do pega */
  border-radius: 5px; /* Borda arredondada do pega */
}

/* Estilo quando o pega está sendo arrastado */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do pega ao passar o mouse */
}
.imagem-about{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imagem-about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title-about{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    color: var(--color-text);
    font-size: var(--font-size);
    padding: 10px;
}
.title-about p{
    font-size: .9rem;
}
.effect-about{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background:linear-gradient(to bottom, #ffffff00, #000000);
}
.price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff07;
    border-radius: 1rem;
}
.price span{
    font-size: 2rem;
    color: var(--color-text);
    text-align: center;
    margin: 1rem 0rem;
    font-weight: 900;
    color: yellow;
}
.block-price{
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.img-price{
    width: 100%;
    max-width: 400px;
}
.img-price img{
    width: 100%;
    object-fit: cover;
}




footer{
    width: 100%;
    padding: 1rem;
    background-color: #020a0f;
    margin-top: 1rem;
    color: var(--color-text);
    font-size: .8rem;
    text-align: center;
}
footer a{
    color: #0090F7;
}
.beneficios{
    color: var(--color-text);
}
.beneficios ul{
    list-style: none;
    margin: 1rem 0rem;
}
.beneficios ul li{
    margin: .2rem 0rem;
}

.localAbout{
    font-size: 1.3rem;
    margin: 0 auto;
    background-color: #ffffff0c;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 800px;
    text-align: left;
}
.setSize{
    padding: 10px;
}
